@model ITO.ViewModels.EditSectionViewModel
@{
    ViewData["Title"] = "Фильтры";
}
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#unit" role="button" aria-expanded="false" aria-controls="collapseExample">
            Метры штуки
    </a>
    <a class="btn btn-primary" data-toggle="collapse" href="#typeSection" role="button" aria-expanded="false" aria-controls="collapseExample">
            Типы мероприятий
    </a>
    <a class="btn btn-primary" data-toggle="collapse" href="#section" role="button" aria-expanded="false" aria-controls="collapseExample">
            Разделы
    </a> 
    <a class="btn btn-primary" data-toggle="collapse" href="#subsection" role="button" aria-expanded="false" aria-controls="collapseExample">
            Фильтры
    </a>
    <a class="btn btn-primary" data-toggle="collapse" href="#subsection1" role="button" aria-expanded="false" aria-controls="collapseExample">
            Доп фильтры
    </a>
    <a class="btn btn-primary" data-toggle="collapse" href="#dataYear" role="button" aria-expanded="false" aria-controls="collapseExample">
            Года
    </a>
</p>
<div class="collapse" id="unit">
    <div class="card card-body">
        <form asp-action="CreateUnit" asp-controller="Section">
            <div class="form-group">
                <label class="control-label">Название</label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить метры штуки" class="btn btn-default" />
            </div>
        </form>

        <table class="table">
            <tr>
                <th>Метры штуки</th>
            </tr>
            @foreach(Unit unit in Model.Units)
            {
                <tr>
                    <td>@unit.Id</td>
                    <td>@unit.Name</td>
                    <td>
                        <form>
                            <a class="btn btn-sm btn-primary" asp-controller="Section" asp-action="DeleteUnit" asp-route-id="@unit.Id" >Удалить</a>
                        </form>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
<div class="collapse" id="typeSection">
    <div class="card card-body">
        <form asp-action="CreateTypeSection" asp-controller="Section">
            <div class="form-group">
                <label class="control-label">Название</label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить тип мероприятия" class="btn btn-default" />
            </div>
        </form>
        <table class="table">
            <tr>
                <th>Типы мероприятий</th>
            </tr>
            @foreach (TypeSection typeSection in Model.TypeSections)
            {
                <tr>
                    <td>@typeSection.Id</td>
                    <td>@typeSection.Name</td>
                    <td>
                        <form>
                            <a class="btn btn-sm btn-primary" asp-controller="Section" asp-action="DeleteTypeSection" asp-route-id="@typeSection.Id">Удалить</a>
                        </form>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
<div class="collapse" id="section">
    <div class="card card-body">
        <form asp-action="CreateSection" asp-controller="Section">
            <div class="form-group">
                <label class="control-label">Название</label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить раздел" class="btn btn-default" />
            </div>
        </form>
        <table class="table">
            <tr>
                <th>Разделы</th>
            </tr>
            @foreach (Section section1 in Model.Sections)
            {
            <tr>
            <td>@section1.Id</td>
            <td>@section1.Name</td>                      
            <td>
                <form asp-controller="Section" asp-action="CreateSubSection"
                      asp-route-id="@section1.Id" method="post" id="sectionForm+@section1.Id">
                    <input form="sectionForm+@section1.Id" type="text" asp-for="Name" class="form-control" />                    
                </form>
            </td>
            <td>
                <input form="sectionForm+@section1.Id" type="submit" value="Добавить фильтр" class="btn btn-sm btn-primary" />
            </td>
                <td>
                    <form>
                        <a class="btn btn-sm btn-primary" asp-controller="Section" asp-action="DeleteSection" asp-route-id="@section1.Id">Удалить</a>
                    </form>
                </td>
            </tr>
            }
        </table>

    </div>
</div>
<div class="collapse" id="subsection">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Фильтры</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>ID Раздел</th>
            </tr>
            @foreach(SubSection subsection in Model.SubSections)
            {

        <tr>

            <td>@subsection.Id</td>
            <td>@subsection.Name</td>
            <td>@subsection.SectionId</td>
            <td>
                <form asp-controller="Section" asp-action="CreateSubSection1"
                      asp-route-id="@subsection.Id" method="post" id="subsectionForm+@subsection.Id">
                    <input form="subsectionForm+@subsection.Id" type="text" asp-for="Name" class="form-control" />
                </form>
            </td>
            <td>
                <input form="subsectionForm+@subsection.Id" type="submit" value="Добавить доп фильтр" class="btn btn-sm btn-primary" />
            </td>
            <td>
                <form>
                    <a class="btn btn-sm btn-primary" asp-controller="Section" asp-action="DeleteSubSection" asp-route-id="@subsection.Id">Удалить</a>
                </form>
            </td>
        </tr>
            }
        </table>

    </div>
</div>
<div class="collapse" id="subsection1">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Доп фильтры</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>ID Фильтра</th>
            </tr>
            @foreach (SubSection1 subsection1 in Model.SubSection1s)
            {
                <tr>
                    <td>@subsection1.Id</td>
                    <td>@subsection1.Name</td>
                    <td>@subsection1.SubSectionId</td>
                    <td>
                        <form>
                            <a class="btn btn-sm btn-primary" asp-controller="Section" asp-action="DeleteSubSection1" asp-route-id="@subsection1.Id">Удалить</a>
                        </form>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
<div class="collapse" id="dataYear">
    <div class="card card-body">
        <form asp-action="CreateDataYear" asp-controller="Section">
            <div class="form-group">
                <label class="control-label">Название</label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Добавить год" class="btn btn-default" />
            </div>
        </form>
        <table class="table">
            <tr>
                <th>Года</th>
            </tr>
            @foreach (DataYear dataYear in Model.DataYears)
            {
                <tr>
                    <td>@dataYear.Id</td>
                    <td>@dataYear.Name</td>
                    <td>
                        <form>
                            <a class="btn btn-sm btn-primary" asp-controller="Section" asp-action="DeleteDataYear" asp-route-id="@dataYear.Id">Удалить</a>
                        </form>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>



