@model ITO.ViewModels.GovernmentUser.TotalYearPlanViewModel
@{
    ViewData["Title"] = "Годовой план";
}

    <h2 class="text-center">Годовой план за : @Model.DataYear год</h2>
<p class="text-center">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Годовые планы за другие года
    </a>
</p>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Выберите год план</th>
            </tr>
            @foreach (DataYear data in Model.DataYears)
            {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>
                        <form>
                            <a class="btn btn-sm btn-primary" asp-controller="Government" asp-action="Index"
                               asp-route-dataYear="@data.Name"
                               asp-route-userName="@User.Identity.Name">Выбрать</a>
                        </form>
                    </td>
                </tr>

            }

        </table>
    </div>
</div>

<div class="text-center">
    <form asp-controller="Government" asp-action="Index" method="post" 
          asp-route-dataYear="@Model.DataYear"
          asp-route-userName="@User.Identity.Name">

        @if (DateTime.Now.Year.ToString() == Model.DataYear)///Текущий годовой план
        {

            <label for="start">Start date:</label>
            <input name="fitstdateTime" type="date" id="start" required value="@Model.DataYear-01-01"
                   min="@Model.DataYear-01-01" max="@DateTime.Now.ToString("yyyy-dd-MM")">

            <label for="start">End date:</label>
            <input name="seconddateTime" type="date" id="start" required value="@DateTime.Now.ToString("yyyy-dd-MM")"
                   min="@Model.DataYear-01-01" max="@DateTime.Now.ToString("yyyy-dd-MM")">
        }
        @if (DateTime.Now.Year.ToString() != Model.DataYear)
        {
            <label for="start">Start date:</label>
            <input name="fitstdateTime" type="date" id="start" required value="@Model.DataYear-01-01"
                   min="@Model.DataYear-01-01" max="@Model.DataYear-12-31">

            <label for="start">End date:</label>
            <input name="seconddateTime" type="date" id="start" required value="@Model.DataYear-12-31"
                   min="@Model.DataYear-01-01" max="@Model.DataYear-12-31">
        }

        <input type="submit" value="Выбрать" />

    </form>
</div>
<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item">Годовой план выполнен на : @Model.Procent.ToString("#0.##%")</li>
            <li class="list-group-item">Мероприятий запланировано: @Model.FullDonePlan</li>
            <li class="list-group-item">Мероприятий выполнено: @Model.NowDonePlan</li>
            <li class="list-group-item">Затрачено бюджетных средств: @Model.FullPriceBnow руб.</li>
            <li class="list-group-item">Затрачено внебюджетных средств: @Model.FullPriceNotBnow руб.</li>
            <li class="list-group-item">Затрачено всего средств: @Model.FullPrice руб.</li>
        </ul>

    </div>

</div>

    @foreach (var agency in Model.AgencyYearPlanViewModels)
    {

        @Html.Partial("PartialAgency", agency);

    }