@model ITO.ViewModels.AgencyUser.AgencyYearPlanViewModel
@{
    ViewData["Title"] = "Годовой план";    
      float fullPrice= Model.FullPriceBnow + Model.FullPriceNotBnow;  
}         
            <div class="container-fluid float-left m-5">
                <div class="row border">
                    <div class="col-2">
                        <ul>
                            <li>@Model.Name</li>
                            <li>Всего запланировано: @Model.FullDonePlan</li>
                            <li>Выполнено: @Model.NowDonePlan</li>
                            <li>% выполнения: @Model.Procent.ToString("#0.##%")</li>
                            <li>Затрачено бюджетных средств @Model.FullPriceBnow руб.</li>
                            <li>Затрачено внебюджетных средств @Model.FullPriceNotBnow руб.</li>
                            <li>Затрачено всего средств @fullPrice  руб.</li>
                        </ul>
                    </div>
                    <div class="col-10">
                        <div class="container-fluid">

                            @foreach (var yearEventViewModel in Model.YearEventViewModels)
                            {
                                @Html.Partial("PartialYearEvent", yearEventViewModel);
                            }
                        </div>
                    </div>
                </div>                
            </div>
    