@model ITO.ViewModels.AgencyUser.YearEventViewModel
@{
    string x = Model.Number + Model.Id.ToString();
    string idd = "collapseExample" + x;
    string href = "#" + idd;

    int partYEConfCount = Model.PartYearEvents.Where(p => p.UserNameСonfirmed != null)
        .Where(p => p.Сomment == null).Count();
    int partYENotConfCount = Model.PartYearEvents.Where(p => p.UserNameСonfirmed == null).Count();
    int partYECommentCount = Model.PartYearEvents.Where(p => p.Сomment != null).Count();

    int fullDone = Model.FirstQuarter + Model.SecondQuarter + Model.ThirdQuarter + Model.FourthQuarter;// сколько всего запланировано

    int fullDoneNow = 0;// сколько выполнено на данный момент
    float fullPriceB = 0;// затрачено бюджетных средств
    float fullNotPriceB = 0;// затрачено внебюджетных средств
    foreach (var part in Model.PartYearEvents)
    {
        if (part.UserNameСonfirmed != null && part.Сomment == null)
        {
            fullDoneNow += part.Done;
            fullPriceB += part.PriceB;
            fullNotPriceB += part.PriceNotB;
        }
    }
    float fullPrice = fullPriceB + fullNotPriceB;

}
<table class="table">
    <tr class="@Model.TrClass">
        <td>@Model.Number</td>
        <td>@Model.EventText</td>
        <td>@Model.FirstQuarter</td>
        <td>@Model.SecondQuarter</td>
        <td>@Model.ThirdQuarter</td>
        <td>@Model.FourthQuarter</td>
        <td>@fullDone</td>
        <td>@fullDoneNow</td>
        <td>@{int procent = fullDoneNow * 100 / fullDone;}@procent %</td>
        <td>@fullPriceB руб.</td>
        <td>@fullNotPriceB руб.</td>
        <td>@fullPrice руб.</td>
        <td>@Model.Unit</td>
        <td>
            @if (!User.IsInRole("управление") && fullDoneNow / fullDone != 1 && Model.NumberPartReturnsandSent)
            {
                <a asp-action="Execute" class="btn btn-primary" asp-route-YearEventId="@Model.Id">Выполнить</a>
            }
            <a class="btn btn-secondary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Отчеты</a>
        </td>
    </tr>
</table>
<div class="row">
    @foreach (PartYearEvent partYearEvent in Model.PartYearEvents)
    {
        @Html.Partial("PartialPartYearEvent", partYearEvent);
    }
</div>